USE [master]
GO
/****** Object:  Database [XmlSenderData]    Script Date: 06.07.2014 19:12:44 ******/
CREATE DATABASE [XmlSenderData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XmlSenderData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\XmlSenderData.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XmlSenderData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\XmlSenderData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XmlSenderData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XmlSenderData]
GO
/****** Object:  Table [dbo].[Response]    Script Date: 06.07.2014 19:12:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Response](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[XmlId] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Cover] [xml] NOT NULL,
	[Errors] [xml] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
