<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsBinding" />
                <binding name="PensionWSBinding" />
                <binding name="InsuranceWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://todes.by:8080/gisun/common/ws" binding="basicHttpBinding"
                bindingConfiguration="wsBinding" contract="ServiceReference1.GisunCommonWsImpl"
                name="ws" />
            <endpoint address="http://todes.by:8080/gisun/pension/ws" binding="basicHttpBinding"
                bindingConfiguration="PensionWSBinding" contract="ServiceReference2.PensionWS"
                name="PensionWS" />
            <endpoint address="http://todes.by:8080/gisun/insurance/ws" binding="basicHttpBinding"
                bindingConfiguration="InsuranceWSBinding" contract="ServiceReference3.InsuranceWS"
                name="InsuranceWS" />
        </client>
    </system.serviceModel>
</configuration>