<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=ANDREY;Initial Catalog=XmlSender;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="MyFormBehavior">
					<MyInspector />
				</behavior>
			</endpointBehaviors>
		</behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="wsBinding" />
                <binding name="PensionWSBinding" />
                <binding name="InsuranceWSBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://todes.by:8080/gisun/common/ws" binding="basicHttpBinding" bindingConfiguration="wsBinding" contract="ServiceReference1.GisunCommonWsImpl" name="ws" />
            <endpoint address="http://todes.by:8080/gisun/pension/ws" binding="basicHttpBinding" bindingConfiguration="PensionWSBinding" contract="ServiceReference2.PensionWS" name="PensionWS" />
            <endpoint address="http://todes.by:8080/gisun/insurance/ws" binding="basicHttpBinding" bindingConfiguration="InsuranceWSBinding" contract="ServiceReference3.InsuranceWS" name="InsuranceWS" behaviorConfiguration="MyFormBehavior" />
        </client>
		<extensions>
			<behaviorExtensions>
				<add name="MyInspector" type="XmlSender.Soap.Header.CustomBehaviorExtensionElement, XmlSender, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</behaviorExtensions>
		</extensions>
    </system.serviceModel>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>